<div class="row">
  <div class="col-md-4">
    <div class="card mt-5" style="width: 300px">
      <img
        class="card-img-top"
        [src]="img"
        alt="Card image"
        style="width: 100%"
      />
      <div class="card-body">
        <h4 class="card-title text-success">Welcome {{ emp.employee_name }}</h4>
        <h5 class="card-title">Age:{{ emp.employee_age }}</h5>
        <h6 class="card-text">
          <b>Salary:{{ emp.employee_salary }}</b>
        </h6>
        <h6 class="card-text">
          <b>Created On :{{ emp.createdAt | date }}</b>
        </h6>
      </div>
    </div>
  </div>
</div>
